<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maciej Bałuta - personal blog</title>
    <style>
        body { background: #135; color: #CCC; font: 12px 'Helvetica Neue', Verdana, sans-serif; margin: 0; padding: 1em; }
        #top h1 { margin: 0; padding: 0; vertical-align: text-bottom; }
        #main { background: #CCC; color: #000; padding: 1em; }
    </style>
</head>
<body>
    <header id="top">
        <h1>Maciej Bałuta</h1>
    </header>
    <div id="main">
        <article>
            <header>
                <h2>Lorem ipsum</h2>
                Posted on 27.08.2021
            </header>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Corporis earum asperiores atque. Velit fugiat fuga at 
            libero possimus odit dolor facere iste animi quasi. Cumque 
            dignissimos iste totam perferendis quos!
        </article>
    </div>
</body>
</html>